html {
    padding: 20px;
}
body {

    padding: 20px;
    background-color: #f1f1f1;
    font-family: helvetica;
    line-height: 25px;;
}

nav {
    padding: 20px;
}

.header {
    padding: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 5px 7px;
    display:inline;
}

.content {
    padding: 10px;
    border: olivedrab;
    border-style: solid;
    margin: 0 auto;
}

.heading {
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
    padding: 8px;
}